absl-py==0.10
astor==0.8.1
autopep8==1.5
certifi==2020.06.20
chardet==3.0.4
cycler==0.10.0
gast==0.3.3
google-pasta==0.2
grpcio==1.32.0
h5py==2.10.0
idna==2.8
imageai==2.1.6
isort==4.3.21
Keras==2.4.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keras-resnet==0.2.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
Markdown==3.1.1
matplotlib==3.3.2
mccabe==0.6.1
numpy==1.19.3
opencv-python==4.1.2.30
opt-einsum==3.3.0
Pillow==7.0.0
protobuf==3.18.3
pycodestyle==2.5.0
pylint==2.4.4
pyparsing==2.4.6
python-dateutil==2.8.1
PyYAML==5.3
requests==2.22.0
scipy==1.4.1
tensorboard==2.4
tensorflow==2.4.0
tensorflow-estimator==2.4.0rc0
termcolor==1.1.0
tqdm==4.42.0
urllib3==1.25.8
Werkzeug==0.16.0
ffmpeg-python==0.2.0
